body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.filterForm {
	display: flex;
	flex-direction: row;
	font-size: 0.8em;
	padding-left: 20px;
}

.filter {
	margin-left: 20px;
}

.checkbox-list {
	max-height: 100px;
	overflow-y: scroll;
}

.filter-attribute {
	padding: 95px 0;
	font-weight: bold;
}

.cell-tooltip {
	background: rgba(0, 0, 0, 0.9);
	border-radius: 15px;
	padding: 8px;
	color: white;
	border: solid 2px blue;
}

.tooltip {
	position: absolute;
	cursor: default;
	font-family: SYSTEM-UI;
}

.bar-tooltip {
	background: rgba(0, 0, 0, 0.9);
	border-radius: 15px;
	padding: 8px;
	color: white;
	border: solid 2px blue;
	font-size: 0.7em;
}